
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center; solo contenido centrado*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Titulo{
  color: yellow;
}

.App-logo {
  height: 40vmin;
  width: 50vmin;
  pointer-events: none;
}


.App-Texto{
  color: white; 
  text-indent:center;
  text-align: center;
  width: 600px;
  position:fixed;
	top:570px;
}

.App-subTitulo{
  color: yellow;
  text-indent:center;  /* texto centrado */
  text-align: center;  /* Justificar el Centro de un texto */
  width: 347px;
  position:fixed;
	top:450px;

}



